<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <base href="./">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chorme,Firefox">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Design by Engineer Team @2023">
    <meta name="author" content="Tư Đồ">
    <meta name="keyword" content="Thích viết cái gì thì viết">
    <title>EM<%= (locals.title ? ' - ' + title : '') %></title>

    <link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/fontsMontserrat/css2.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">

    <script type="text/javascript" src="/vendor/jquery/jquery-3.7.1.min.js"></script>
</head>

<body class="light-mode">